<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="all">
    
    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <style>
     .content { margin-top:120px; }
     .navbar .navbar-brand { padding-right:10px }
     .navbar .navbar-text { padding-top:40px; margin-left:0px }
     .navbar .navbar-collapse { padding-top:25px }
     .panel-heading { font-weight:bold }
    </style>
  </head>

  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">

	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="margin-top:25px">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="{{ HOME_PATH }}"><img src="images/opentx-logo.png" alt="OpenTX" /></a>
	  <p class="navbar-text">Improving your Tx!</p>
	</div>
    
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <div class="navbar-right">
	      {% assign pages_list = site.pages %}
	      {% assign group = 'navigation' %}
	      {% include JB/pages_list %}
	      <div class="btn-group ">
		<div type="button" class="btn btn-default">
		  <a href="https://github.com/opentx/opentx/issues">All Issues</a>
		</div>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		  <span class="caret"></span>
		  <span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu">
		  <li><a href="https://github.com/opentx/opentx/issues?labels=Radio+Firmware&page=1&state=open">Firmware Issues</a></li>
		  <li><a href="https://github.com/opentx/opentx/issues?labels=PC+companion&page=1&state=open">Companion Issues</a></li>
		  <li class="divider"></li>
		  <li><a href="https://github.com/opentx/opentx/issues/new">New Issue</a></li>

		</ul>
	      </div>
	  </div>
	</div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        {{ content }}
      </div>
      <hr>
      <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
        </p>
      </footer>

    </div>

    {% include JB/analytics %}
  </body>
</html>
